<!DOCTYPE html>
<html dir="ltr" lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> - Nnia LaGrande</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ninia LaGrande">

    <meta property="og:url" content="{{site.domain}}"/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:type" content="website"/>

    <link rel="stylesheet" href="/assets/style/main.css">
    <script src="/assets/js/bundle.js"></script>
  </head>
  <body>
    <nav>
      <a href="{{ site.baseurl }}">Ninia LaGrande</a>
      <a href="{{ site.baseurl }}/about">About</a>
      <a href="{{ site.baseurl }}/blog">Blog</a>
    </nav>
    <hr>
    {{ content }}
  </body>
</html>
